
body {
    background-color: blue;
    margin: 0;
    height: 700px;
    display: flex;
    justify-content: center; 
    align-items: center;
    color: white;
    font-family:honk;
    text-align: center;
  }
  

  #idism {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
  }
  